*.pyc
*__pycache__*
.ipynb_checkpoints
.env
.vscode
coc-dashboard/data/iqr.csv
coc-dashboard/data/outliers.csv
coc-dashboard/data/reporting.csv
coc-dashboard/data/std.csv
*debug*
coc-dashboard/data/iqr_no_outlier_data.csv
coc-dashboard/data/outlier_data.csv
coc-dashboard/data/report_data.csv
coc-dashboard/data/std_no_outlier_data.csv
coc-dashboard/data/old_data/iqr.csv
coc-dashboard/data/old_data/outliers.csv
coc-dashboard/data/old_data/reporting.csv
coc-dashboard/data/old_data/std.csv
coc-dashboard/data/iqr_no_outlier_data_new.csv
coc-dashboard/data/lookup_facilities.csv
coc-dashboard/data/outlier_data_new.csv
coc-dashboard/data/report_data_new.csv
coc-dashboard/data/std_no_outlier_data_new.csv
coc-dashboard/data/old_data/columns.csv
coc-dashboard/data/old_data/iqr_no_outlier_data.csv
coc-dashboard/data/old_data/outlier_data.csv
coc-dashboard/data/old_data/report_data.csv
coc-dashboard/data/old_data/std_no_outlier_data.csv
coc-dashboard/data/pop.csv
coc-dashboard/data/target_pop.csv
